<!DOCTYPE html>
<html ng-app="extraNo">
  <head>
    <meta charset="utf-8">
    <title>no</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body ng-controller="extraNo">
    <input type="text" ng-model="listEntry">

    <button type="button" name="button" ng-model="submit" ng-click="addToArray()">add junk</button>

    <table>
      <tr ng-repeat="a in array track by $index">
        <td>
          {{a}}
        </td>
      </tr>
    </table>
    <p>
      {{array}}
    </p>

    <table>
      <tr>
        <th>
          Name
        </th>

        <th>
          Tastiness
        </th>
      </tr>

      <tr ng-repeat="pt in pizzaToppings">
        <td>
          {{pt.name}}
        </td>

        <td>
          {{pt.tastiness}}
        </td>
      </tr>
    </table>

    <br>

    <button ng-click="showAlert()">
      Show Alert
    </button>

    <br>
    <br>
    <input type="text" value="" placeholder="text to show in alert" ng-model="alertTextOrWhatever">
    <input type="text" value="" placeholder="text to show in alert" ng-model="alertTextOrWhatever">



    <!-- Angular JS -->


    <!-- what is this help me -->

  </body>
</html>
